/* Site-wide styles */
* {
    margin: 0;
    padding: 0;
}

body {
	font-size: 16px;
}

.main-container {
	max-width: 80em;
	min-width: 20em;
}

@media only screen and (max-width: 868px) {
	.kitty {
		display: none;
	}
}









