/* Site-wide styles */
html{
 margin: 0;
 padding: 0;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 20em;
}

.footer-banner{
	width: 100%;
	background-color: #B09592;
	color: white;
}
button.navbar-toggler{
	background-color: white;
	outline: none;
	border: none;
}
button.navbar-toggler:active{
	box-shadow: none;
	outline: none;
	border: none;
}
