/*Footer*/
footer {
	background-color: antiquewhite;
	height: 12em;
}

.footer-banner{
	width: 100%;
	min-height: 3em;
	background-color: #B09592;
	color: white;
}
.hug-left{
	float: left;
	margin-left: 2em;
	margin-top: 2em;
}

.hug-right {
	float: right;
	margin-right: 2em;
	margin-top: 2em;
}

@media only screen and (max-width: 768px) {
   .hug-left{
		display: block;
		width: 100%;
		text-align: center;
		margin-left: 0;	
	}
	
	.hug-right{
		display: block;
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
}