/*nav*/
navbar-nav{
	color: black;
}

.navbar-toggler {
	margin-top: .25em;
	margin-bottom: .5em;
}

nav.navbar {
	margin: 0;
}

.nav-item {
	font-size: 1.5em;
}

button.navbar-toggler{
	font-size: 1.5em;
	background-color: white;
	outline: none;
	border: none;
	color: #B09592;
}
button.navbar-toggler:active{
	outline: none;
	border: none;
	color: gray;
}
.navbar ul {
	margin: 0;
}
.dropdown-menu{
	width: 100%;
	text-align: center;
	font-size: 1em;
}
.navbar{
	min-height: 0;
	border: none;
}

.rounded-left {
	border-radius: .5em 0 0 0;
}

.rounded-right{
	border-radius: 0 .5em 0 0;
}

@media only screen and (max-width: 1168px) {
	.nav-item {
		font-size: 1.10em;
	}
}

@media only screen and (max-width: 1068px) {
	.nav-item {
		font-size: 1.05em;
	}
}

@media only screen and (max-width: 968px) {
	.nav-item {
		font-size: 1em;
	}
}

