/*front page*/


.carousel {
	max-height: 32em;
	overflow: hidden;
}

.carousel.fade {
	opacity: 1;
}

.carousel.fade .item {
	transition: opacity ease-out .7s;
	left: 0;
	opacity: 0; /* hide all slides */
	top: 0;
	position: absolute;
	width: 100%;
	display: block;
 }
 
 .carousel.fade .item.active {
	 opacity: 1;
  }
  
 .carousel.fade .item:first-child {
	top: auto;
	opacity: 1; /* show first slide */
	position: relative;
 }

 .carousel-indicators {
	border-radius: 1em;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translate(-50%, 0);
	width: 6em;
	height: 2em; 
	margin-left: unset;
}

.carousel-indicators li, .carousel-indicators li.active{
	width: 1em;
	height: 1em;
	border-radius: 1em;
	margin: .5em .25em .25em .25em;
}

.contact-info {
	margin: 1em auto;
	width: 15em;
}

.contact-preview {
	padding: 2em;
	font-size: 1.25em;
	font-weight: 600;
	color: white;
}

.contact-preview a {
	color: white;
}

.fb-carousel-image {
	width: 100%;
}

.floating-box {
	background-color: orangered;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: .5em;
	pointer-events: none;
	position: absolute;
	bottom: 1em;
	z-index: 100;
}

.about-preview {
	padding: 2em;
	background-color: antiquewhite;
}

.about-preview h1, h2 {
	margin: 0;
}

.about-preview h1{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin-bottom: .25em;
}

.find-us-on-facebook {
	background-color: white;
	border-radius: .5em;
	height: 4em;
	width: 12.5em;
	text-align: center;
	padding: 1.25em;
	margin: 2em auto;
}

 .row {
	 margin-left: auto;
	 margin-right: auto;
 }

 .order-type-preview {
	 position: relative;
	 margin: 2.5em auto;
 }
 .or {
	 text-align: center;
	 margin-top: 20%;
	 font-size: 3em;
 }

 .order-type-preview img {
	width: 100%;
	border-radius: 1em;	
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
 }

 .underline {
	 text-decoration: underline;
 }

@media only screen and (max-width: 56em) {
	
	.carousel {
		max-height: 18em;
	}

	.jumbo-text {
		font-size: 2.5em;
	}

}

@media only screen and (max-width: 24em) {
	
	.carousel {
		max-height: 12em;
	}

	.jumbo-text {
		font-size: 2em;
	}

}