/*front page*/

.announcement {
	font-weight: bold;
	font-size: 1.25em;
	z-index: 999;
	background-color: rgba(125,106,104,.75);
	position: absolute;
	color: white;
	height: auto;
	width: 25%;
	bottom: 10%;
	right: 5%;
	padding: .75em;
}

.announcement:hover {
	cursor: pointer;
}

.announcement a {
	color: white;
}

.announcment a:hover, announcment a:focus {
	text-decoration: none;
}

.announcement h3 {
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
}

.carousel {
	position: relative;
	height: 32em;
	overflow: hidden;
	height: 32em;
}

.carousel.fade {
	opacity: 1;
}

.carousel.fade .item {
	transition: opacity ease-out .7s;
	left: 0;
	opacity: 0; /* hide all slides */
	top: 0;
	position: absolute;
	width: 100%;
	display: block;
 }
 
 .carousel.fade .item.active {
	 opacity: 1;
  }
  
 .carousel.fade .item:first-child {
	top: auto;
	opacity: 1; /* show first slide */
	position: relative;
 }

 .carousel-indicators {
	border-radius: 1em;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translate(-50%, 0);
	width: 6em;
	height: 2em; 
	margin-left: unset;
}

.carousel-indicators li, .carousel-indicators li.active{
	width: 1em;
	height: 1em;
	border-radius: 1em;
	margin: .5em .25em .25em .25em;
}

.contact-info {
	margin: 1em auto;
	width: 15em;
}

.contact-preview {
	padding: 2em;
	font-size: 1.25em;
	font-weight: 600;
	color: white;
}

.contact-preview a {
	color: white;
}

.fb-carousel-image {
	width: 100%;
}

.floating-box {
	background-color: rgb(125,106,104, .75);
	color: white;
	font-size: 1.5em;
	font-weight: bold;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding: .5em;
	pointer-events: none;
	position: absolute;
	bottom: 1em;
	z-index: 100;
	width: 90%;
	height: 25%;
}

.about-preview {
	padding: 2em;
	background-color:#ebe4d5;
}

.about-preview h1, h2 {
	margin: 0;
	text-align: center;
}

.about-preview h1{
	font-size: 3em;
	font-weight: bold;
	margin-bottom: .25em;
}

.find-us-on-facebook {
	background-color: white;
	border-radius: .5em;
	height: 4em;
	width: 12.5em;
	text-align: center;
	padding: 1.25em;
	margin: 2em auto;
}

 .row {
	 margin-left: auto;
	 margin-right: auto;
 }

 .order-type-preview {
	 width: 90%;
	 position: relative;
	 margin: 2.5em auto;
 }

 .order-type-preview img {
	width: 100%;
	border-radius: 1em;	
	-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
 }

 .underline {
	 text-decoration: underline;
 }

@media only screen and (max-width: 70em){
	.floating-box {
		font-size: 1.25em;
	}
}

 @media only screen and (max-width: 61.9375em) {
	.order-type-preview {
		width: 50%;
	}
	.floating-box {
		font-size: 1.5em;
	}
 }

@media only screen and (max-width: 56em) {
	.announcement {
		display: none;
	}

	.jumbo-text {
		font-size: 2.5em;
	}

	.about-preview h1 {
		font-size: 2.5em;
	}
	.about-preview h2 {
		font-size: 1.5em;
	}

	.floating-box {
		font-size: 1.5em;
	}

}



@media only screen and (max-width: 48em) {
	.order-type-preview {
		width: 60%;
	}

	.floating-box {
		font-size: 1.25em;
	}

	.carousel{
		height: 20em;
	}
}



@media only screen and (max-width: 32em) {
	.order-type-preview {
		width: 95%;
	}

	.carousel{
		height: 16em;
	}
}

@media only screen and (max-width: 26em) {

	.about-preview h1 {
		font-size: 2em;
	}
	.about-preview h2 {
		font-size: 1.25em;
		text-align: left;
	}

	.jumbo-text {
		font-size: 2em;
	}

	.floating-box {
		font-size: 1em;
	}
	
	.carousel{
		height: 12em;
	}

}