/*front page*/

/*carousel*/

.jumbo-text {
	font-weight: 600;
	font-size: 3.5em;
}

.carousel {
	max-height: 32em;
	overflow: hidden;
}

.indicator-center-help{
	position: absolute;
	bottom: 0;
	left: 43.5%;
}

.carousel-indicators {
	background-color: rgba(0, 0, 0, .5);
	width: 9em;
	height: 3em;
	left: -50%;
}
.carousel-indicators li, .carousel-indicators li.active{
	width: 2em;
	height: 2em;
	border-radius: 2em;
	margin-top: .5em;
}

.fb-carousel-image {
	width: 100%;
}

.fb-dropdown-button {
	height: 100%;
	width: 100%;
	color: white;
}

.jumbotron {
	margin-bottom: 0;
	background-color: antiquewhite;
	padding-top: 3em;
}

.jumbotron h2 {
	margin-top: 0;
}

.carousel.fade {
	opacity: 1;
}
.carousel.fade .item {
   transition: opacity ease-out .7s;
   left: 0;
   opacity: 0; /* hide all slides */
   top: 0;
   position: absolute;
   width: 100%;
   display: block;
}
.carousel.fade .item:first-child {
   top: auto;
   opacity: 1; /* show first slide */
   position: relative;
}
.carousel.fade .item.active {
   opacity: 1;
}

@media only screen and (max-width: 768px) {
	.hug-left{
		display: block;
		width: 100%;
		text-align: center;
		margin-left: 0;
	}
	.hug-right{
		display: block;
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
	
	.fb-carousel{
		max-height: 20em;
	}

	.jumbotron{
		width: 100%;
	}

	.jumbo-text {
		font-size: 2.5em;
	}

	.carousel-indicators {
		background-color: rgba(0, 0, 0, .5);
		margin: 0;
		width: 7em;
		height: 2.5em;
	}

	.carousel-indicators li, .carousel-indicators li.active{
		width: 1.5em;
		height: 1.5em;
		border-radius: 1.5em;
	}
}