/* Site-wide styles */
* {
    margin: 0;
	padding: 0;
}

html {
	width: 100%;
}

body {
	font-size: 16px;
	line-height: unset !important;
	width: 100%;
	font-family: sans-serif;
}

.container-fluid {
	padding: 0;
}

.main-container {
	min-width: 20em;
	max-width: 72em;
	position: relative;
}

.filler-content{
	min-height: 40em;
}

input[type=number]{
	height: 3em !important;
}


input[type=number]::-webkit-inner-spin-button {
    height: 3em;
}
