footer {
	position: relative;
	background-color: antiquewhite;
	height: 12em;
}

.footer-banner{
	width: 100%;
	min-height: 3em;
	background-color: #7D6A68;
	color: white;
}

.hug {
	position: relative;
	top: 1.5em;
}

.hug-left {
	left: 1.5em;
	float: left;
}

.hug-right {
	float: right;
	right: 1.5em;
}

.facebook-link {
	border-radius: 1em;
	background-color: white;
	padding: .5em;
	position: absolute;
	width: 9.5em;
	height: 4em;
	bottom: 1.5em;
	left: 1.5em;
}

.facebook-link:hover {
	text-decoration: none;
}

.facebook-image {
	width: 3em;
}

.facebook-message {
	font-weight: bold;
}


@media only screen and (max-width: 768px) {

   .hug {
	   display: block;
	   width: 100%;
	   text-align: center;
	   top: unset;
	   left: unset;
	   right: unset;
	   margin-top: 1em;
   }

   .facebook-link {
		display: block;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		margin-top: 1em;
   }
}