footer {
	position: relative;
	background-color:  #7D6A68;
	height: 8em;
	color: white;
	font-weight: bold;
}


.hug {
	position: relative;
	top: 1.5em;
}

.hug-left {
	left: 1.5em;
	float: left;
}

.hug-right {
	float: right;
	right: 1.5em;
}

@media only screen and (max-width: 48em) {

   .hug {
	   display: block;
	   width: 100%;
	   text-align: center;
	   top: unset;
	   left: unset;
	   right: unset;
	   margin-top: 1em;
   }

}