.kitty {
	position: absolute;
	width: 14em;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 20em;
}

@media only screen and (max-width: 50em) {
	.kitty {
		display: none;
	}
}

@media only screen and (max-width: 24em) {
	.logo {
		width: 15em;
	}
}