.cookie-container {
    
}

.build-your-cookies {
    text-align: center;
}

.cookie-builder, .cookie-form {
    margin: 0 auto;
    width: 60%;
}

.cookie-builder {
   display: grid;
   grid-template-columns: 70% 5% 25%;
   grid-template-rows: 100%; 
}


.cookie-canvas {
    display: inline-block;
    border-radius: 1em;
    background-image: url('../../../images/metal.jpg');
    grid-column-start: 1;
    grid-column-end: 2;
    touch-action: none;
    width: 100%;
}


.canvas-tools {
    display: inline-block;
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: 1em;
    height: 100%;
}

.canvas-tools input, select{
    width: 100%;
}

.canvas-tools input[type=color]{
    height: 20%;
}

.canvas-tools select{
    height: 30%;
}


.cookie-form {
    margin-top: 3em;
    margin-bottom: 3em;
    border: 1px solid black;
}

@media only screen and (max-width: 64em) {

    
}
