<!-- universal content -->
<link href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel= "stylesheet">
<link rel="stylesheet" href="layout/css/base.css">
<link rel="stylesheet" href="layout/css/colors.css">
<link rel= "stylesheet" href ="../website/layout/css/footer.css">
<link rel= "stylesheet" href ="../website/layout/css/header.css">
<link rel= "stylesheet" href ="../website/layout/css/nav.css">

<!-- specific content -->
<link rel= "stylesheet" href ="../website/frontpage/css/frontpage.css">

<!-- future pages? -->
<!-- <link rel= "stylesheet" href ="../website/aboutpage/css/aboutpage.css">
<link rel= "stylesheet" href ="../website/contact/css/contactpage.css"> -->