<!DOCTYPE html>
<html lang="en" ng-app="FluffyButtApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fluffybutt Cookies</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../layout/js/app.js"></script>
</head>
<body>
    <div ng-controller="LoginController">
        <form> 
            <label for="user">User:</label>
            <input id="user" ng-model="user" required> 
            <label for="password">Password:</label>
            <input id="password" type="password" ng-model="password" required>
            <button type="submit" ng-click="login()">Login</button>
        </form>
        {{ error }}
    </div>
    <script src="js/login-ctrl.js"></script>
</body>
</html>