<!DOCTYPE html>
<html lang="en" ng-app="FluffyButtApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="../layout/js/app.js"></script>
</head>
<body>
    <div ng-controller="UserController">

        <h2>Add Administrator</h2>

        <form>
            <label for="user">User:</label>
            <input id="user" ng-model="user" required>
            <label for="password">Password:</label>
            <input id="password" type="password" ng-model="password" maxlength="10" required>
            <button ng-click="addAdmin()">Save Administrator</button>
        </form>
    

        <div ng-repeat="admin in admins">
            <p>{{ admin.userName }}</p>
        </div>
        
        <div ng-cloak>{{ message }}</div>
        
    </div>
    
    <script src="js/user-ctrl.js"></script>
    
</body>
</html>