<div class="cart-container">
    <h1 class="your-cart">Your Order {{cart.cartTotal > 0 ? '' : ' has no items!'}}</h1>
    <div class="category-block" ng-repeat="category in cart.productCategories | hasProducts">
        <h3>{{category.name}}</h3>
        <div class="product-block" ng-repeat="product in category.products">
            <img src="{{product.imageUrl}}" alt="{{product.name}}"}><div class="product-info-group">
                <p class="cart-product-name">{{ product.name }}</p>
                <p>Price: {{ product.price | currency}}</p>
                <p>Quantity: <input type="number" ng-model="product.quantity" min="1" max="1000" ng-change="cart.updateTotal()"></p>
                <p>Subtotal: {{ product.price * product.quantity | currency}}</p>
            </div>
            <button class="btn btn-danger" ng-click="removeProduct(category, product)">Remove</button>
        </div>
    </div>
    <div class="checkout-button-div">
        <span>Total: {{cart.cartTotal | currency}}</span>
        <a class="btn btn-success {{ cart.cartTotal == 0 ? 'disabled-checkout' : ''}}" ng-disabled="cart.cartTotal == 0" href="#!/checkout">Checkout</a>
    </div>
</div>