<div>
    <h1>Your Cart:</h1>
    <div class="category-block" ng-repeat="category in cart.productCategories | hasProducts">
        <h3>{{product.name}}</h3>
        <div class="product-block" ng-repeat="product in category.products">
            <p>{{ product.name }}</p>
            <img src="{{product.imageUrl}}" alt="{{product.name}}"}>
            <p>Price: {{ product.price | currency}}</p>
            <p>Quantity: <input type="number" ng-model="product.quantity" min="1" max="1000" ng-change="cart.updateTotal()"></p>
            <p>Subtotal: {{ product.price * product.quantity | currency}}</p>
            <button class="btn btn-danger" ng-click="removeProduct(category, product)">Remove</button>
        </div>
    </div>
    <p>Total: {{cart.cartTotal | currency}}</p>
</div>
<a href="areas/order/checkout.html" class="btn btn-success" ng-disabled="cart.cartTotal == 0">Checkout</a>