<div class="filler-content">
        <h1 style="text-align: center; font-weight: bold; margin: 0; padding-top: 2em;">Cookies are coming soon!</h1>
</div>

<!-- <div class="customer-favorites">
    <div class="product-tile" ng-repeat="product in products | favoritesFilter">
            <div class="image-holder">
                <img src="images/FavoritesCookies/{{product.ImageUrl}}" alt="{{product.Name}}">
            </div>
            <p class="product-name">{{product.Name}} - {{product.Price * 12 | currency}}</p>

        <button class="btn btn-success" ng-click="addDozenToCart(product)">Add Dozen to Cart</button>
    </div>
</div> -->