<h1 class="build-your-cookies">Build Your Cookies!</h1>
<div class="cookie-builder">
    <span>Step One: Draw Cookie (Optional)</span>
    <div class="cookie-canvas-pan">
        <canvas class="cookie-canvas"></canvas>
    </div>
    <form class="canvas-tools">
        <input type="color" ng-model="brush.color">
        <!-- <input class="jscolor" ng-model="cookieCanvas.brush.color"> -->
        <select ng-model="brush.size">
            <option value="4">Small</option>
            <option value="8">Medium</option>
            <option value="16">Large</option>
        </select>
        <button ng-click="cookieCanvas.clear()">Clear Drawing</button>
    </form>
    <div class="cookie-form">
            <span>Step Two: Cookie Details</span>
    </div>
</div>
<script src="areas/order/js/change-color-picker.js"></script>
<script src="areas/order/js/jscolor.min.js"></script>