<div class="hidden-xs fb-black">
    <ul class="nav nav-justified">
        <li class="nav-item">
            <a class="rounded rounded-left fb-background-purple" href="./">Home</a>
        </li>
        <li class="nav-item">
            <a href="#!/orderCookies" class="fb-background-pink"><span class="order-cookies-text">Order Cookies!</span></a>
        </li>
        <li class="nav-item">
            <a class="fb-background-purple" href="#!/bijou-jars">Bijou Jars</a>
        </li>
        <li class="nav-item">
            <a class="fb-background-pink" href="#!/about">About</a>
        </li>
        <li class="nav-item">
            <a class="rounded rounded-right fb-background-purple" href="#!/contact">Contact</a>
        </li>
    </ul>
</div>