<div class="hidden-xs fb-black">
    <ul class="nav nav-justified">
        <li class="nav-item fb-background-purple rounded-left">
            <a href="./">Home</a>
        </li>
        <li class="nav-item">
            <a href="#!/orderCookies" class="fb-background-pink"><span class="order-cookies-text">Order Cookies!</span></a>
        </li>
        <li class="nav-item fb-background-purple">
            <a href="#!/bijou-jars">Bijou Jars</a>
        </li>
        <li class="nav-item fb-background-pink">
            <a href="#!/about">About</a>
        </li>
        <li class="nav-item fb-background-purple rounded-right">
            <a href="#!/contact">Contact</a>
        </li>
    </ul>
</div>