<!-- favicon -->
<link rel="icon" type="image/png" href="images/favicon.png">
<!-- universal content -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="areas/layout/css/base.css">
<link rel="stylesheet" href="areas/layout/css/colors.css">
<link rel="stylesheet" href="areas/layout/css/footer.css">
<link rel="stylesheet" href="areas/layout/css/header.css">
<link rel="stylesheet" href="areas/layout/css/nav.css">

<!-- specific content -->
<link rel="stylesheet" href="areas/homepage/css/homepage.css">
<link rel="stylesheet" href="areas/order/css/cookie-builder.css">
<link rel="stylesheet" href="areas/order/css/customer-favorites.css">
<link rel="stylesheet" href="areas/order/css/cart.css">
<link rel="stylesheet" href="areas/contact/css/contact.css">
<link rel="stylesheet" href="areas/about/css/about.css">