	

<div  id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner">

		<div ng-repeat="image in images" class="item" ng-class="{active:!$index}">
			<img ng-src="images/{{image.Image}}" alt="{{image.AltText}}">
			<div class="carousel-caption">
				<h4>{{image.AltText}}</h4>
			</div>
		</div>

		<a class="left carousel-control" href="#myCarousel" data-slide= "prev">
			<span class ="glyphicon glyphicon-chevron-left"></span>

			<a class = "right carousel-control" href="#myCarousel" data-slide= "next">
			<span class ="glyphicon glyphicon-chevron-right"></span>

	</div>

	<!-- Home page scripts -->
<!-- 	<script src="layout/js/home.ctrl.js"></script> -->